.venv
benchmarks/
tests/
# Python virtual environment
.venv
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Git directory
.git/
.gitignore

# Docker and VSCode specific
.dockerignore
.vscode/

# Build artifacts and logs
*.eif
enclave_id.txt
*.log

# Add any other large files or directories that are not needed inside the enclave
# For example:
# data/
# notebooks/