blspy==2.0.2
bn254==0.1.2
dnspython==2.6.1
fe25519==1.5.0
ge25519==1.5.1
oblivious==7.0.0
parts==1.7.0
psutil==5.9.8
pycryptodome==3.20.0
pymongo==4.6.2
python-dotenv==1.0.1
redis==5.0.3
aws-nsm-interface
cbor2
cryptography
pycose